body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: all 0.5s;
  pointer-events: none;
  background-color: transparent;
}
body.bg::before {
  background-color: rgba(0, 0, 0, 0.8);
}

#root {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 70px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
}
header #menu {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
header span {
  color: gray;
  font-size: 1.25rem;
  margin: 0 10px;
  transition: all 0.5s;
}
header span#logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20px;
}
header span#logo:hover {
  cursor: default;
}
header span:hover {
  cursor: pointer;
  color: rgb(41, 41, 41);
  font-size: 1.3rem;
}
header #menu-account input {
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  margin: 0 5px;
  font-weight: bold;
  transition: all 0.5s;
}
header #menu-account input#register {
  box-sizing: border-box;
  border: 2px solid black;
}
header #menu-account input:hover {
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}
header #menuIco, header #go-back {
  display: none;
}

content {
  margin-top: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: transform 1s, opacity 0.5s;
}
content :first-child {
  width: 70%;
  align-self: center;
}
content #about-us h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}
content #about-us > div {
  margin: 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
content #about-us > div .about-text {
  padding: 10px 100px 0 0;
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}
content #about-us > div .about-text h2 {
  text-indent: 30px;
  margin: 0 0 20px 30px;
  width: 70%;
}
content #about-us > div .about-text p {
  text-indent: 10px;
}
content #about-us > div .about-image {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
content #about-us > div .about-image img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  transition: all 0.2s;
}
content #about-us > div .about-image img:hover {
  transform: scale(0.98);
}
content #about-us > div:last-child {
  margin-top: 0;
  float: left;
  flex-direction: column;
}
content #about-us > div:last-child h2 {
  width: 100%;
}
content #about-us > div:last-child input {
  align-self: flex-start;
  margin: 40px 20px 0 0;
  width: 300px;
  height: 70px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid black;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
content #about-us > div:last-child input:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}
content #products .product {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
content #products .product h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
content #products .product > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
content #products .product > div > div {
  width: 30%;
  height: 500px;
  border-radius: 20px;
  border: 2px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s;
}
content #products .product > div > div h2 {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 17px 17px 0 0;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}
content #products .product > div > div ul {
  flex-grow: 1;
  font-size: 1.25rem;
  width: 80%;
  align-self: center;
}
content #products .product > div > div ul li {
  margin: 10px 0;
}
content #products .product > div > div button {
  align-self: center;
  margin-bottom: 30px;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid black;
  background-color: black;
  color: white;
  transition: all 0.5s;
  font-size: 1rem;
  font-weight: normal;
}
content #products .product > div > div button span {
  margin: 0 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
content #products .product > div > div button:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}
content #products .product > div > div:hover {
  transform: scale(1.05);
}
content #review {
  font-size: 1.5rem;
}
content #review h1 {
  text-indent: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
}
content #review #ins {
  display: inline-flex;
  margin-bottom: 20px;
}
content #review #ins :first-child {
  margin-right: 20px;
}
content #review #ins label input {
  font-size: 1.1rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25px;
  width: 200px;
  padding: 5px;
  margin-top: 5px;
}
content #review #ins label input[type=email] {
  width: 300px;
}
content #review #ins label span {
  margin-left: 20px;
  font-size: 0.75rem;
}
content #review #ins label.error span {
  color: red;
}
content #review #ins label.error input {
  border: 1px solid red;
  color: rgb(255, 92, 92);
}
content #review #stars img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  filter: grayscale(100%);
  margin-bottom: 10px;
}
content #review #stars img.notGray {
  filter: grayscale(0);
}
content #review #stars img.halfGray {
  filter: grayscale(50%);
}
content #review #stars img:hover {
  cursor: pointer;
}
content #review textarea {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  margin-top: 5px;
  resize: none;
}
content #review input[type=submit] {
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid black;
  background-color: black;
  color: white;
  margin: 20px 0;
  transition: all 0.5s;
}
content #review input[type=submit]:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}

footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 50px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 10);
  transition: transform 1.2s, opacity 0.5s;
}
footer > div {
  display: inline-flex;
  margin: 5px 0;
}
footer > div :first-child {
  margin-right: 40px;
}
footer > :first-child {
  font-size: 1.1rem;
  margin-left: 10px;
}
footer > :last-child {
  color: grey;
}
footer p {
  margin: 10px 0;
  color: white;
}

.disapear {
  transform: translate(0, 100vh);
  opacity: 0;
}

@media (max-width: 769px) {
  html {
    font-size: 12px;
  }
  content :first-child {
    width: 90%;
  }
  content :first-child > div {
    margin: 50px 0 !important;
  }
  content #about-us .about-text h2 {
    text-indent: 10px !important;
    margin: 0 0 10px 0 !important;
    width: 100% !important;
  }
  content #about-us > div .about-image img {
    width: 200px;
    height: 200px;
  }
  content #products .product > div > div {
    height: 400px;
  }
  content #products .product > div > div ul li {
    margin: 10px 0 0 10px;
  }
  content #products .product > div > div button {
    width: 150px;
    height: 50px;
  }
  content #review #ins {
    margin: 10px 0 !important;
  }
  content #review #stars {
    margin: 10px 0 !important;
  }
}
@media (max-width: 426px) {
  html {
    font-size: 10px;
  }
  header #menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    padding: 10px 10px 50px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transform: translate(100%);
    transition: transform 0.5s;
  }
  header #menu.hidden {
    transform: translate(0);
  }
  header #menu #go-back {
    display: block;
    height: 25px;
    width: 25px;
    align-self: flex-end;
  }
  header #menu #pages {
    display: inline-flex;
    flex-direction: column;
  }
  header #menu #pages span {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }
  header #menu #menu-account {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header #menu #menu-account :first-child {
    margin-bottom: 10px;
  }
  header #menuIco {
    display: block;
    height: 25px;
    width: 25px;
  }
  content :first-child {
    width: 98%;
  }
  content :first-child > div {
    margin: 50px 0 !important;
  }
  content #about-us h1 {
    width: 100%;
  }
  content #about-us > div {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 98%;
  }
  content #about-us > div .about-text {
    margin: 0;
    padding: 0;
  }
  content #about-us > div .about-image img {
    width: 80vw;
    height: auto;
  }
  content #about-us > div:last-child {
    float: none;
    margin: 0 auto !important;
  }
  content #about-us > div:last-child input {
    align-self: center;
    margin: 20px 0;
  }
  content #products .product {
    margin: 30px 0;
  }
  content #products .product:first-child {
    margin: 30px 0 !important;
  }
  content #products .product > div > div {
    height: 350px;
  }
  content #products .product > div > div ul li {
    margin: 10px 0 0 10px;
  }
  content #products .product > div > div button {
    width: 100px;
    height: 40px;
  }
  content #products .product > div > div button span {
    font-weight: 0.5rem;
  }
  content #review form h1 {
    text-align: center;
  }
  content #review #ins {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
  }
  content #review #ins > label {
    margin: 10px 0 0 0px;
  }
  content #review #ins > label:first-child {
    margin-right: 0;
  }
}/*# sourceMappingURL=App.css.map */